<ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
    <p style="font-size: 25px; color: white;font-weight: bold">{{uploadPercent}}</p>
</ngx-spinner>


<!--Liste des actions-->
<div *ngIf="add_action == false">

    <div class="row">
        <div class="col-md-12">
            <nb-card class="inline-form-card">
                <nb-card-header> Chercher ...</nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-lg-2">
                            <label style="margin-top: 15px"> Code </label>
                        </div>
                        <div class="col-lg-3">
                            <input [(ngModel)]="search.code" class="form-control" type="text">
                        </div>
                        <div class="col-lg-2">
                            <label style="margin-top: 15px"> Type </label>
                        </div>
                        <div class="col-lg-3">
                            <input [(ngModel)]="search.type" class="form-control" type="text">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label style="margin-top: 15px"> Categorie </label>
                        </div>
                        <div class="col-lg-3">
                            <select [(ngModel)]="search.categorie" class="form-control">
                                <option selected></option>
                                <option value="AMELIORATION">AMELIORATION</option>
                                <option value="VERIFICATION">VERIFICATION</option>
                                <option value="AUTRE">AUTRE</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label style="margin-top: 15px"> Priorite </label>
                        </div>
                        <div class="col-lg-3">
                            <input [(ngModel)]="search.priorite" class="form-control" type="text">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label style="margin-top: 15px"> Demandeur </label>
                        </div>
                        <div class="col-lg-3">
                            <select [(ngModel)]="search.demandeur" class="form-control">
                                <option selected></option>
                                <option value="User1">User1</option>
                                <option value="User2">User2</option>
                                <option value="AUTRE">AUTRE</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label style="margin-top: 15px">Code Origine </label>
                        </div>
                        <div class="col-lg-3">
                            <input [(ngModel)]="search.code_origine" class="form-control" type="text">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> Date de Creation </label>
                        </div>
                        <div class="col-lg-8">
                            <label> De </label>
                            <input [(ngModel)]="search.dateDe" type="date" style="margin-left: 20px;margin-right: 10px">
                            <label> à </label>
                            <input [(ngModel)]="search.dateA" type="date" style="margin-left: 20px">
                        </div>
                        <!--<div class="col-lg-2">
                            <label style="margin-top: 15px"> Mot Cle </label>
                        </div>
                        <div class="col-lg-3">
                            <input class="form-control" type="text">
                        </div>-->
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> ETAT ACTION</label>
                        </div>
                        <div class="col-lg-3">
                            <input [(ngModel)]="search.etat" type="radio" name="r1" value="Ouverte">
                            <label>OUVERTE</label>
                            &nbsp;
                            <input [(ngModel)]="search.etat" type="radio" name="r2" value="Cloturer">
                            <label>CLOTUREE</label>
                        </div>
                        <div class="col-lg-2">
                            <button (click)="annulerSearch()" type="button" class="btn btn-outline-primary"
                                    style="margin-left: 80%">
                                Annuler
                            </button>
                        </div>
                        <div class="col-lg-2">
                            <button (click)="searchActions()" type="button" class="btn btn-outline-primary"
                                    style="margin-left: 80%">
                                Chercher
                            </button>
                        </div>
                    </div>

                </nb-card-body>
            </nb-card>
        </div>

        <div class="col-md-12">
            <nb-card class="inline-form-card">
                <nb-card-header> List des actions</nb-card-header>
                <nb-card-body>
                    <div class="dropdown ghost-dropdown" style="margin-left:78%" ngbDropdown>
                        <button type="button" class="btn btn-outline-primary" ngbDropdownToggle> Actions
                        </button>
                        <ul class="dropdown-menu" ngbDropdownMenu>
                            <li class="dropdown-item" (click)="showHideAddAction()"> Ajouter</li>
                            <li [hidden]="actionsTodeleted.length === 0" class="dropdown-item" (click)="deleteActions()"> Supprimer</li>
                        </ul>
                    </div>
                    <div class="ibox-content" style="margin-bottom:15px; margin-top: 10px">
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Code origine</th>
                                <th>Categorie</th>
                                <th>Date de creation</th>
                                <th>Description probléme</th>
                                <th>Type</th>
                                <th>Priorité</th>
                                <th>Provient de</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let action of actions;let i=index;" (dblclick)="toUpdate(action)"
                                style="cursor: pointer">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input (change)="addActionToDelete(action.id)" type="checkbox"
                                               class="custom-control-input" [id]="'customCheck'+i">
                                        <label class="custom-control-label" [for]="'customCheck'+i">{{i + 1}}</label>
                                    </div>
                                </td>
                                <td>{{action.code_origine}}</td>
                                <td>{{action.categorie}}</td>
                                <td>{{action.date_creation | date:'dd MMM yyyy HH:mm:ss'}}</td>
                                <td>{{action.desc_prob}}</td>
                                <td>{{action.type}}</td>
                                <td>{{action.priorite}}</td>
                                <td>{{action.prov_de}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

</div>


<!--Add Action-->
<div *ngIf="add_action == true">
    <div class="row">
        <div class="col-md-12">
            <nb-card class="inline-form-card">
                <nb-card-header>
                    <div class="row">
                        <div class="col-9">
                            Action
                        </div>
                        <div class="col-2">
                            <div class="dropdown ghost-dropdown" ngbDropdown>
                                <button type="button" class="btn btn-outline-primary" ngbDropdownToggle> actions
                                </button>
                                <ul class="dropdown-menu" ngbDropdownMenu>
                                    <li class="dropdown-item" (click)="showHideAddAction()">Retour</li>
                                    <li *ngIf="update==false" class="dropdown-item" (click)="addAction()">Enregistrer
                                    </li>
                                    <li *ngIf="update==true" class="dropdown-item" (click)="updateAction()">Modifier
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> Code </label>
                        </div>
                        <div class="col-lg-3">
                            <input [(ngModel)]="action.code" class="form-control" type="text">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> Type </label>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select [(ngModel)]="action.type" class="form-control">
                                    <option selected></option>
                                    <option value="AMELIORATION">AMELIORATION</option>
                                    <option value="VERIFICATION">VERIFICATION</option>
                                    <option value="AUTRE">AUTRE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2" *ngIf="update ==true" style="margin-left:150px">
                            <circle-progress
                                    [percent]="action.taux_efficacite"
                                    [radius]="70"
                                    [outerStrokeWidth]="5"
                                    [innerStrokeWidth]="2"
                                    [outerStrokeColor]="'#78C000'"
                                    [innerStrokeColor]="'#C7E596'"
                                    [animation]="true"
                                    [animationDuration]="800"
                                    subtitle="Efficacité"
                            ></circle-progress>

                        </div>
                        <div class="col-lg-3" *ngIf="update == true">
                            <circle-progress
                                    [percent]="action.taux_realisation"
                                    [radius]="70"
                                    [outerStrokeWidth]="5"
                                    [innerStrokeWidth]="2"
                                    [outerStrokeColor]="'#78C000'"
                                    [innerStrokeColor]="'#C7E596'"
                                    [animation]="true"
                                    [animationDuration]="800"
                                    subtitle="Réalisation"
                            ></circle-progress>

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> Categorie </label>
                        </div>
                        <div class="col-lg-3">
                            <input [(ngModel)]="action.categorie" class="form-control" type="text">
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> Priorite </label>
                        </div>
                        <div class="col-lg-3">
                            <input [(ngModel)]="action.priorite" class="form-control" type="text">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> Demandeur </label>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select [(ngModel)]="action.demandeur" class="form-control">
                                    <option selected></option>
                                    <option value="Test 1">Test 1</option>
                                    <option value="Test 2">Test 2</option>
                                    <option value="Test 3">Test 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> Description Probleme </label>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group">
              <textarea [(ngModel)]="action.desc_prob" rows="5" placeholder=""
                        class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> Code Origine </label>
                        </div>
                        <div class="col-lg-3">
                            <input [(ngModel)]="action.code_origine" class="form-control" type="text">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> Provient De </label>
                        </div>
                        <div class="col-lg-3">
                            <input [(ngModel)]="action.prov_de" class="form-control" type="text">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> Analyse des causes </label>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group">
                     <textarea [(ngModel)]="action.analy_causes" rows="5" placeholder=""
                               class="form-control">
                     </textarea>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <br>
    <!-- validation action -->
    <!--<div class="row">
        <div class="col-md-12">
            <nb-card class="inline-form-card">
                <nb-card-header> Validation de l'action</nb-card-header>
                <nb-card-body>
                    <form class="form-group">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <label> Valideur de l'action </label>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control">
                                    <option selected></option>
                                    <option value="1">user1</option>
                                    <option value="2">user2</option>
                                </select>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-primary" style="margin-left:78%">Valider</button>
                        <br>
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <label class="col-sm-3 col-form-label"> Action validée? </label>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-check">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                                           value="option1"
                                           aria-label="...">
                                </div>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>-->

    <!-- detail-action -->
    <div *ngIf="update == true">
        <div class="row">
            <div class="col-md-12">
                <nb-card class="inline-form-card">
                    <nb-card-header> Détail Action</nb-card-header>
                    <nb-card-body>
                        <div class="dropdown ghost-dropdown" style="margin-left:78%" ngbDropdown>
                            <button type="button" class="btn btn-outline-primary" ngbDropdownToggle> Détail Action
                            </button>
                            <ul class="dropdown-menu" ngbDropdownMenu>
                                <li class="dropdown-item" (click)="open(content)">
                                    Ajouter
                                </li>
                                <li [hidden]="detailActionToDeleted.length === 0" class="dropdown-item" (click)="deletedetailsAction()">
                                    Supprimer
                                </li>
                            </ul>
                        </div>
                        <div class="ibox-content" style="margin-bottom:15px; margin-top: 10px">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Numero</th>
                                    <th>Observation</th>
                                    <th>Responsable Réalisation</th>
                                    <th>Date Début Réalisation</th>
                                    <th>Responsable Suivi</th>
                                    <th>Date Suivi</th>
                                    <th>Responsable Mesure Effic.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let dc of detailsAction;let i=index;" (dblclick)="openDetailActForUpdate(content,dc)">
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input (change)="addDetailActionToDelete(dc.id)" type="checkbox"
                                                   class="custom-control-input" [id]="'customCheck'+i">
                                            <label class="custom-control-label" [for]="'customCheck'+i">{{i + 1}}</label>
                                        </div>
                                    </td>
                                    <td>{{dc.numero}}</td>
                                    <td>{{dc.observation}}</td>
                                    <td>{{dc.resp_realisation}}</td>
                                    <td>{{dc.date_debut_reel | date:'dd MMM yyyy'}}</td>
                                    <td>{{dc.resp_suivi}}</td>
                                    <td>{{dc.date_suivi | date:'dd MMM yyyy'}}</td>
                                    <td>{{dc.resp_mesure_efficacite}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>


    <!--Taux Action-->

    <div class="row">
        <div class="col-md-12">
            <nb-card class="inline-form-card">
                <nb-card-header> Taux Action</nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-lg-2">
                            <label style="margin-left: 10px"> Taux de Réalisation </label>
                        </div>
                        <div class="col-lg-3">
                            <input [(ngModel)]="action.taux_realisation" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label style="margin-left: 10px"> Taux d'efficacité </label>
                        </div>
                        <div class="col-lg-3">
                            <input [(ngModel)]="action.taux_efficacite" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label style="margin-left: 10px"> Observations </label>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <textarea [(ngModel)]="action.observation" rows="5" placeholder=""
                                          class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

    <!--Cloture-->
    <div class="row">
        <div class="col-md-12">
            <nb-card class="inline-form-card">
                <nb-card-header> Cloture de l'action</nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> Etat Action </label>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select [(ngModel)]="action.etat" class="form-control">
                                    <option selected></option>
                                    <option value="Ouverte"> Ouverte</option>
                                    <option value="Cloturer"> Cloturer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> Date de Cloture </label>
                        </div>
                        <div class="col-lg-3">
                            <input [(ngModel)]="action.date_cloture" class="form-control" type="date">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <label> Observation cloture </label>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <textarea [(ngModel)]="action.observation_cloture" rows="5" placeholder=""
                                          class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <br>


    <!--Document-joint -->
    <div class="row" *ngIf="update == true">
        <div class="col-md-12">
            <nb-card class="inline-form-card">
                <nb-card-header>
                    <div class="row">
                        <div class="col-9">
                            Documents Joint
                        </div>
                        <div class="col-2">
                            <div class="dropdown ghost-dropdown" ngbDropdown>
                                <button type="button" class="btn btn-outline-primary" ngbDropdownToggle> actions
                                </button>
                                <input #fileUpload type="file" name="doc_action" (click)="fileUpload.value = null"
                                       (change)="addDocument($event)"
                                       style="display:none">
                                <ul class="dropdown-menu" ngbDropdownMenu>
                                    <li class="dropdown-item" (click)="fileUpload.click()">Ajouter</li>
                                    <li [hidden]="docToDeleted.length === 0"  class="dropdown-item"
                                         (click)="deleteDocs()">Supprimer
                                    </li>
                                </ul>



                            </div>
                        </div>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <br>
                    <div class="ibox-content" style="margin-bottom:50px">
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>Date de création</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let doc of docList;let i=index;">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input (change)="addDocTodelete(doc.id)" type="checkbox"
                                               class="custom-control-input" [id]="'customCheck'+i">
                                        <label class="custom-control-label" [for]="'customCheck'+i">{{i + 1}}</label>
                                    </div>
                                </td>
                                <td><a [href]="doc.path" target="_blank">{{doc.nom}}</a></td>
                                <td>{{doc.type}}</td>
                                <td>{{doc.date_creation | date:'dd MMM yyyy'}}</td>
                                <td>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>


    <!-- Modal document-joint -->
    <div class="row">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Document joint</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="document-name" class="col-form-label"> Nom Document</label>
                                <input type="text" class="form-control" id="document-name">
                            </div>
                            <div class="form-group">
                                <label for="objet-text" class="col-form-label">Objet</label>
                                <textarea class="form-control" id="objet-text"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="date-creation" class="col-form-label"> Date de Création</label>
                                <input type="text" class="form-control" id="date-creation">
                            </div>
                            <div class="form-group">
                                <label for="observation-text" class="col-form-label">Observation</label>
                                <textarea class="form-control" id="observation-text"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Fichier</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Fermer</button>
                        <button type="button" class="btn btn-primary"> Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal detail-action -->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Détails Action</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ngb-accordion [closeOthers]="true" activeIds="static-1">
                <ngb-panel id="static-1">
                    <ng-template ngbPanelTitle>
                        <span><b style="color: #181818">Action</b></span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Numero </label>
                            </div>
                            <div class="col-lg-6">
                                <input [(ngModel)]="detailaction.numero" class="form-control" type="number">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Type </label>
                            </div>
                            <div class="col-lg-6">
                                <select [(ngModel)]="detailaction.type" class="custom-select">
                                    <option selected></option>
                                    <option value="AMELIORATION">AMELIORATION</option>
                                    <option value="AMELIORATION">AMELIORATION</option>
                                    <option value="AMELIORATION">AMELIORATION</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Action </label>
                            </div>
                            <div class="col-lg-6">
                                <textarea [(ngModel)]="detailaction.actiontxt" rows="3" style="width: 230px"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Observation </label>
                            </div>
                            <div class="col-lg-6">
                                <textarea [(ngModel)]="detailaction.observation" rows="3"
                                          style="width: 230px"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="margin-left: 10px"> Resp. Réalisation </label>
                                    <select [(ngModel)]="detailaction.resp_realisation" class="custom-select"
                                            style="margin-left: 35px; width: 230px ">
                                        <option selected></option>
                                        <option value="user1">user1</option>
                                        <option value="user2">user2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Date debut réelle </label>
                            </div>
                            <div class="col-lg-3">
                                <input [(ngModel)]="detailaction.date_debut_reel" class="form-control" type="date">
                            </div>
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Date Début Prev</label>
                            </div>
                            <div class="col-lg-3">
                                <input [(ngModel)]="detailaction.date_debut_prevu" class="form-control" type="date">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Date fin Réelle</label>
                            </div>
                            <div class="col-lg-3">
                                <input [(ngModel)]="detailaction.date_fin_reel" class="form-control" type="date">
                            </div>
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Date Fin Prev</label>
                            </div>
                            <div class="col-lg-3">
                                <input [(ngModel)]="detailaction.date_fin_prevu" class="form-control" type="date">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Réalisation </label>
                            </div>
                            <div class="col-lg-3">
                                <textarea [(ngModel)]="detailaction.realisationtxt" rows="3"
                                          style="width: 230px"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Observation Réalisation </label>
                            </div>
                            <div class="col-lg-3">
                                <textarea [(ngModel)]="detailaction.obser_realisation" rows="3"
                                          style="width: 230px"></textarea>
                            </div>
                        </div>
                        <br>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-2">
                    <ng-template ngbPanelTitle>
                        <span><b style="color: #181818">Suivi Réalisation</b></span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="input-group-text" style="margin-left: 10px"> Resp.
                                    Suivi </label>
                            </div>
                            <div class="col-lg-3">
                                <select [(ngModel)]="detailaction.resp_suivi" class="custom-select"
                                        id="inputGroupSelect07" style="width: 100px">
                                    <option selected></option>
                                    <option value="user1">user1</option>
                                    <option value="user2">user2</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Date de Suivi </label>
                            </div>
                            <div class="col-lg-3">
                                <input [(ngModel)]="detailaction.date_suivi" class="form-control" type="date">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Taux de Réalisation </label>
                            </div>
                            <div class="col-lg-3">
                                <input [(ngModel)]="detailaction.taux_realisation" class="form-control" type="number">
                            </div>
                            <div class="col-lg-3">
                                <label class="input-group-text" style="margin-left: 10px"> Etat
                                    Action </label>
                            </div>
                            <div class="col-lg-3">
                                <select [(ngModel)]="detailaction.etat_action" class="custom-select"
                                        style="width: 100px">
                                    <option selected></option>
                                    <option value="Réalisée"> Réalisée</option>
                                    <option value="Non Réalisée"> Non Réalisée</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Observation Suivi </label>
                            </div>
                            <div class="col-lg-3">
                                <textarea [(ngModel)]="detailaction.obser_suivi" rows="3"
                                          style="width: 230px"></textarea>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-3">
                    <ng-template ngbPanelTitle>
                        <span><b style="color: #181818">Suivi Efficacité</b></span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="input-group-text" style="margin-left: 10px"> Resp. Mesure
                                    Eff </label>
                            </div>
                            <div class="col-lg-3">
                                <select [(ngModel)]="detailaction.resp_mesure_efficacite" class="custom-select"
                                        id="inputGroupSelect09" style="width: 100px">
                                    <option selected></option>
                                    <option value="user1">user1</option>
                                    <option value="user2">user2</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Date Mesure Eff </label>
                            </div>
                            <div class="col-lg-3">
                                <input [(ngModel)]="detailaction.date_mesure" class="form-control" type="date">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Taux d'efficacité </label>
                            </div>
                            <div class="col-lg-3">
                                <input [(ngModel)]="detailaction.taux_efficacite" class="form-control" type="number">
                            </div>
                            <div class="col-lg-3">
                                <label class="input-group-text" style="margin-left: 10px"> Etat
                                    Efficacite </label>
                            </div>
                            <div class="col-lg-3">
                                <select [(ngModel)]="detailaction.etat_efficacite" class="custom-select"
                                        style="width: 100px">
                                    <option selected></option>
                                    <option value="Efficace"> Efficace</option>
                                    <option value="Non Efficace"> Non Efficace</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px"> Obs. Efficacité </label>
                            </div>
                            <div class="col-lg-3">
                                <textarea [(ngModel)]="detailaction.obser_efficacite" rows="3"
                                          style="width: 230px"></textarea>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-4">
                    <ng-template ngbPanelTitle>
                        <span><b style="color: #181818">Suivi Cout</b></span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left:10px;margin-top: 10px"> Cout MO Prévisionnel </label>
                            </div>
                            <div class="col-lg-3">
                                <input [(ngModel)]="detailaction.cout_MO_Previs" class="form-control" type="number">
                            </div>
                            <div class="col-lg-3">
                                <label style="margin-left: 10px;margin-top: 10px"> Cout MO Réel</label>
                            </div>
                            <div class="col-lg-3">
                                <input [(ngModel)]="detailaction.cout_MO_Reel" class="form-control" type="number">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px;margin-top: 10px"> Cout Materiel Prévisionnel </label>
                            </div>
                            <div class="col-lg-3">
                                <input [(ngModel)]="detailaction.cout_Materiel_Previs" class="form-control"
                                       type="number">
                            </div>
                            <div class="col-lg-3">
                                <label style="margin-left: 10px;margin-top: 10px"> Cout Materiel Réel</label>
                            </div>
                            <div class="col-lg-3">
                                <input [(ngModel)]="detailaction.cout_Materiel_Reel" class="form-control" type="number">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label style="margin-left: 10px;margin-top: 10px"> Total MO Prévisionnel </label>
                            </div>
                            <div class="col-lg-3">
                                <input [value]="detailaction.cout_MO_Reel+detailaction.cout_MO_Previs"
                                       class="form-control" type="number">
                            </div>
                            <div class="col-lg-3">
                                <label style="margin-left: 10px;margin-top: 10px"> Total MO Réel</label>
                            </div>
                            <div class="col-lg-3">
                                <input [value]="detailaction.cout_Materiel_Reel+detailaction.cout_Materiel_Previs"
                                       class="form-control" type="number">
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Fermer</button>
            <div *ngIf="isUpdateDetailAct === false">
                <button type="button" class="btn btn-primary" (click)="addDetailAction()">Enregistrer</button>
            </div>
            <div *ngIf="isUpdateDetailAct === true">
                <button type="button" class="btn btn-primary" (click)="updateDetailAction()">Modifier</button>
            </div>

        </div>
    </ng-template>


</div>
